*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

header{
    border-bottom: 1px solid #dee0ea;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
}

.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1600px){

  .container{
    max-width: 1400px;
    padding: 0px 40px;
  }
    
    .portfolio-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio-wrapper .portfolio-item{
        height: 200px;
    }
    .skills-wrapper .skills-item p{
        font-size: 18px;
    }
    .about-wrapper .about-content{
        font-size: 25px;
      }

      .about-wrapper img{
        width: 500px;
      }
      .contact-wrapper .contact-info{
        margin-left: 200px;
      }
}

@media (max-width: 1200px){
    .container{
      max-width: 992px;
    }

    .skills-wrapper .skills-item p{
        font-size: 20px;
    }
    .portfolio-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -80px;
    }

    .portfolio-wrapper .portfolio-item{
        margin-top: -30px;
        height: 130px;
    }
    
    .about-wrapper .about-content{
        font-size: 20px;
      }

      .skills-wrapper .skills-item p{
        font-size: 15px;
    }

    .portfolio-wrapper .portfolio-layer h4{
      font-size: 30px;
    }
    
    .portfolio-wrapper .portfolio-layer p{
      font-size: 20px;
    }
    
    .portfolio-wrapper .portfolio-layer i{
      font-size: 20px;
    }

    .contact-wrapper .contact-info{
      margin-left: 100px;
    }
    
    .contact-wrapper .contact-form .contact-item input{
      width: 550px;
    }

    .contact-wrapper .contact-form .contact-item textarea{
      width: 550px;
    }
  }
  
  
  @media (max-width: 992px){
    .container{
      max-width: 768px;
    }

    .about-wrapper{
        display: flex;
        flex-direction: column;
      }

      .about-wrapper .about-content{
        margin-top: 40px;
        font-size: 23px;
      }
      .about-wrapper img{
        height: 440px;
      }

      .skills-wrapper .skills-item{
        width: 180px;
      }

      .skills-wrapper .skills-item p{
        font-size: 15px;
    }
    .contact-wrapper .contact-form .contact-item input{
      width: 350px;
    }

    .contact-wrapper .contact-form .contact-item textarea{
      width: 350px;
    }

    .header-wrapper .header-mobile{
      background-color: #000;
    }
  }
  
  @media (max-width: 768px){
    .container{
      max-width: 576px;
      padding: 0px 27px;
    }

    .about-wrapper{
        display: flex;
        flex-direction: column;
      }
      
      .about-wrapper .about-content{
        margin-top: 20px;
        font-size: 20px;
      }

      .about-wrapper img{
        width: 350px;
        height: 350px;
        margin-top: -40px;
      }

      .header-wrapper .header-rigth{
        display: none;
      }

      .skills-wrapper{
        display: flex;
        flex-direction: column;
      }

      .skills-wrapper .skills-item{
        width: 450px;
        height: 200px;
        margin-top: 10px;
        padding: 0px;
      }
      .skills-wrapper .skills-item img{
        width: 60px;
        padding-top: 10px;
      }
      .skills-wrapper .skills-item h1{
        font-size: 20px;
      }
      .skills-wrapper .skills-item p{
        font-size: 15px;
        padding: 0px 10px;
      }

      .portfolio-wrapper{
        margin-top: -80px;
      }

     .portfolio-wrapper .portfolio-item{
        margin-top: -30px;
        width: 300px;
        height: 130px;
      }

      .contact-wrapper{
        display: flex;
        flex-direction: column;
      }

      .contact-wrapper .contact-form .contact-item input{
        width: 450px;
      }

      .contact-wrapper .contact-form .contact-item textarea{
        width: 450px;
      }

      .contact-wrapper .contact-form button{
        margin-top: -10px;
      }

      .contact-wrapper .contact-info{
        margin-left: 130px;
        margin-bottom: 10px;
      }

      .header-wrapper i{
        display: block;
      }
  }

  @media (max-width: 420px) {
  .container {
    max-width: 350px;
  }

  .about-wrapper{
    display: flex;
    flex-direction: column;
  }

}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: white;
}

.header-left a{
    font-size: 30px;
    font-weight: 600;
}

.header-rigth ul{
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}

.bcColor{
    background-color:#f5f3f3;
}

.header-wrapper i{
  display: none;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-wrapper h7{
    font-size: 30px;
}

.home-wrapper h1{
    font-size: 70px;
    padding-bottom: 10px;
}

.home-wrapper h3{
    padding-bottom: 30px;
    font-size: 50px;
}

.home-wrapper p{
    padding-bottom: 30px;
    font-size: 30px;
}

.home-wrapper a{
    padding-bottom: 10px;
    font-size: 30px;
    padding-right: 20px;
}

.about-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-content{
    font-size: 30px;
}

.skills-wrapper{
    height: 100vh;
    display: flex;
    gap: 25px;
    align-items: center;
}

.skills-item{
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 500px;
    transition: .5s ease;
}

.skills-item:hover{
    transform: scale(1.08);
}

.skills-item h1{
    font-size: 30px;
    padding: 20px;
}

.skills-item p{
    font-size: 25px;
}

.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-wrapper .portfolio-item{
    border: 1px solid #000;
    width: 506px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.portfolio-item img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-item:hover img{
    transform: scale(1.1);
}

.portfolio-item .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-item:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 50px;
    color:white

}

.portfolio-layer p{
    font-size: 26px;
    color:white
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 70px;
    color:white

}

.portfolio-layer a i{
    font-size: 30px;
}

.contact-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-wrapper button{
    width: 100px;
    height: 40px;
    background-color: #000;
    color: white;
    margin-top: 20px;
    border: 1px solid #000;
    cursor: pointer;
}

.contact-wrapper .contact-item{
    margin: 10px 0;
}

.contact-wrapper .contact-item input{
    margin: 10px 0;
}

.contact-wrapper .contact-item textarea{
    margin: 10px 0;
}

.contact-wrapper .contact-item label{
    font-size: 20px;
}

.contact-wrapper input{
    width: 750px;
    height: 50px;
    font-size: 20px;
}

.contact-wrapper .contact-info{
    margin-top: -370px;
    margin-right: 350px;
}

.contact-wrapper .contact-info h4{
    font-size: 40px;
}

.contact-wrapper .contact-info p{
    margin-top: 20px;
    font-size: 30px;
}